# Python Syllabus

#### Unit - 1

##### Python features --- 
Interpreted , Object-Oriented , High-level Data Structure , Dynamic Typed and Binding , Readable, Multi-paradigm , Extensible design, Community Envolved Design(PEP)

##### Applications
Web Development,
Application Scripting,
Image Manipulation,
Machine Learning ,
Big Data,

##### Python 2 vs Python 3
Not Backward Compatible

##### No Implicit Conversion in Python

In [1]:
a="Guru"
b = 99
print(a+b)

TypeError: can only concatenate str (not "int") to str

In [2]:
a="Guru"
b = 99
print(a+str(b))

Guru99

In [4]:
# Local variables have scope in the method only
# But Global variables have scope throughout the program

f = "Something"
print(f)

def any_func():
    f = "Something New"       # This is local varibale redeclared with name of f. But the scope of this is limited to Mehtod only.
    print(f)

any_func()
print(f)

Something
Something New
Something

In [5]:
# Any variable in Python can be redeclared also

x = "Some thing"
x = 40
print(x)

40

##### Membership Operators
Tests for membership in Strings, Tuples and Lists

In [1]:
# in operator

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, \"apple\" is in the 'fruits' list")

Yes, "apple" is in the 'fruits' list

In [2]:
# not in operator

if "grapes" not in thislist:
    print("Yes , 'grapes' aren't in thislist")

Yes , 'grapes' aren't in thislist

In [9]:
len(thislist)

3

##### Identity Operators
To determine whether a value is of a certain type,class
is , is not

In [19]:
# is , is not
arr = [1,2,"string",0.4]
for item in arr:
    
    if (type(item) is int):
        print(f"{item} is integer")
        
    elif (type(item) is float):
        print(f"{item} is float")
        
    elif (type(item) is not float or int):
        print("It may be String")

1 is integer
2 is integer
It may be String
0.4 is float

##### Keywords in Python
All the keywords except True, False, None are lowercase in Python
##### and, as, in, or, is, pass, yield, assert

##### Some syntax points:
1. Multiline Content

In [1]:
# Using continuation character(\) -- explicit line continuation
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9
# using braces
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)
# or using any other braces like [] , {}
colors = ['red',
          'blue',
          'green']

Putting Multiple Statements in single line

In [7]:
a = 1; b = 2; c = 3 
# Similar to:
            # a = 1
            # b = 2
            # c = 3
# Example:
if True: print("Five"); a = 5
# Similar to:
        # if True:
        #     print('Hello')
        #     a = 5
a

Five

5

### Variables:

##### Variables in Python are references to Objects but the actual data is contained in the objects.
Think of Python variables as pointers

In [6]:
x = 100
x = 42
# We assign a pointer to point to the OBJECT 42 which was earlier pointing to the OBJECT 100

x = 42
y = 42
print(id(x))
print(id(y))
# SO , Both the object reference(pointers) x & y are pointing to the same object 42
#--------------------------------------------NOTE---------------------------------------------

x = 258
y = 259

print(id(x))
print(id(y))
# This id same funda is only limited up to 256 only.

140707504371824
140707504371824
775054283120
775054282864

Every instance (object or variable) has an identity, i.e. an integer which is unique within the script or program, i.e. other objects have different identities.

In [25]:
# Assigning Multiple Values to multiple variables:
a,b,c = 1,'2',"Three"
print(a,type(a))
print(b,type(b))
print(c,type(c))

1 <class 'int'>
2 <class 'str'>
Three <class 'str'>

In [5]:
# Note there are no constants in Python
# Just don't change their value and name them using UPPER CASE letters ONLY      LOL :)

PI = 3.14
print(PI)
PI = PI + 2
print(PI)

3.14
5.140000000000001

In [26]:
# Testing None

var = None
if var:
    print(var)

# An undeclared variable has value None + A declared variable with value assigned None is also None  :)

In [28]:
# Pass Statement does nothing. But act as an Dummy Statement
def func():

SyntaxError: unexpected EOF while parsing (<ipython-input-28-64de2e2114d0>, line 2)

In [29]:
# But using pass will not Give any error
def func():                                 # Pass means function under construction
    pass

In [33]:
# Numeric Literal

a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2  # 1.5 * 100 i.e 150.0

#Complex Literal 
x = 3.14j  # Means --- (0 + 3.14 i^)

print(a,b,c,d)
print(float_1, float_2)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

In [7]:
# Boolean Literals--------------------------------      True ~ 1    ,  False ~ 0

x = (1 == True)         # Thus x is assigned (True)    -----------Note:   True (not true)
y = (1 == False)

a = True + 4 # True is treated as 1 in python
b = False + 10 # And False is treated as 0

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 5
b: 10

### Sequential Data Types

There are six sequential Data types in Python:

<ul>
    <li>strings</li>
    <li>byte sequences</li>  <p>Byte Objects are sequence of small integers. Ranging between 0 to 255</p><br/>
    <li>byte arays</li>
    <li>lists</li>
    <li>tuples</li>
    <li>range objects</li>
</ul>

### Arithmetic Operations

In [7]:
# True vs Floor division
# True ---- /
# Floor ----- //

a = 10
b = 3
print(a/b)
print(a//b)

# Floor division gives the largest integer value smaller than the result of true division
# i.e in this case 3.333333 is True division which has 3 as largest integer value smaller than itself.

3.3333333333333335
3

In [8]:
10**3,10**5   # Exponentiation

(1000, 100000)

In [11]:
True or False,True and False,not False    # Note: These are not Bitwise or and not

(True, False, True)

In [14]:
2 | 3, 2 & 3, 2 ^ 3       # 010 | 011, 010 & 011, 010^011
                    # Gives:   011,       010,      001
    # Similarly << >> shift operators

(3, 2, 1)

<img src="strings.jpg">

### Operations on list
<ol>
    <li>.append(element)</li>
    <li>.remove(element)</li>
    <li>.insert(index,element)</li>
    <li>.extend(iterable or another list)</li>
    <li>.pop()</li>
    <li>del list_name[index or slice]</li>
    <li>.clear()</li>
    <li>.index(element)</li>
    <li>.count(element)</li>
    <li>.copy()</li>
    <li>.reverse()</li>
    <li>.sort()</li>
</ol>

In [1]:
# Append
li = [1,2,3,4]

li.append(5)
li

[1, 2, 3, 4, 5]

In [2]:
# Insert
li.insert(2,6)      # insert(index,element)
li
# So insert method always takes two arguments: index (at which we want to insert) element (to be inserted)

[1, 2, 6, 3, 4, 5]

In [3]:
li.insert(7,9)     # inserting at index out of the list would result in insertion at end of the list
li

[1, 2, 6, 3, 4, 5, 9]

In [4]:
li.insert(-8,10)   # Similarly for negative index
li

[10, 1, 2, 6, 3, 4, 5, 9]

In [5]:
# Extend

li.extend([0,1,2,3,4,5,6,7,8])  # or li.extend(range(9)) i.e Takes iterable as an argument also
li

[10, 1, 2, 6, 3, 4, 5, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
len(li)  # returns length of list

17

In [7]:
# Deleting an item from th list

del li[0]     # Deleting the element at an index
li

[1, 2, 6, 3, 4, 5, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
del li[0:3]     # Deleting multiple items i.e (Deletion of 0,1,2 th elements)
# del li        Will delet the entire list

In [9]:
li

[3, 4, 5, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
li[2:5], li[2:5:2], li[5:2:-1], li[::], li[:]   # Slicing

([5, 9, 0],
 [5, 0],
 [1, 0, 9],
 [3, 4, 5, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8],
 [3, 4, 5, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8])

In [114]:
# printing reverse of the list

li[::-1]

[8, 7, 6, 5, 4, 3, 2, 1, 0, 9, 6, 5, 4]

In [115]:
li.remove(6)             # Deletes the first occurence of the element 6 from the list
li

[4, 5, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [116]:
li.pop()      # will delete and return the last element from the list`

8

### Deep Copy

In [10]:
x = [1,2,3,4]
y = ['a','b','c']
x = y               # Creating a Deep Copy    i.e  Changes in one list will lead to change
print(x,y)
x.append(5)
print(x,y)         # Hence the value of y is also implicitly changed while changing x          (Due to Deep Copy)

['a', 'b', 'c'] ['a', 'b', 'c']
['a', 'b', 'c', 5] ['a', 'b', 'c', 5]

### Shallow Copy

In [132]:
a = [1,2,3,4]
b = ['a','b','c']
a = b.copy()
print(a,b)
a.append(5)
print(a,b)         # Hence the value of b is not changed by changing a                (Due to Shallow Copy)

['a', 'b', 'c'] ['a', 'b', 'c']
['a', 'b', 'c', 5] ['a', 'b', 'c']

In [6]:
# Some more operations
a = [1,2,3,4]
print(sum(a))
print(sorted([4,3,2,1]))
print(max(a))
print(min(a))
# Thus get to know that lists in python are heterogeneous arrays with super-powers

10
[1, 2, 3, 4]
4
1

### List Comprehension
List comprehension is generally more compact and faster than normal functions and loops for creating list.

[value for-loop conditional] or by 
[value-of-if if else value-of-else for-loop]

In [135]:
pow2 = [2 ** x for x in range(10)]        # List named pow2 which contains 2^0, 2^1, ....... 2^9   (i.e 2**0 , 2**1........)
"""
    Equivalent to:
    pow2 = []
    for x in range(10):
        pow2.append(2 ** x)
"""
pow2

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

##### List Comp with conditionals

In [141]:
div_by_2 = [x for x in range(20) if x%2==0]
div_by_2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [144]:
# List Comp with multiple conditionals
div_by_2_and_5 = [x for x in range(20) if x%2==0 if x%5==0]       # Returns the numbers which are divisible by 2 & 5 both
div_by_2_and_5

[0, 10]

In [149]:
# List conditionals with if else
div_by_2_or_not = [f'{x} / by 2' if x%2==0 else f'{x} not / by 2' for x in range(15)]
div_by_2_or_not

['0 / by 2',
 '1 not / by 2',
 '2 / by 2',
 '3 not / by 2',
 '4 / by 2',
 '5 not / by 2',
 '6 / by 2',
 '7 not / by 2',
 '8 / by 2',
 '9 not / by 2',
 '10 / by 2',
 '11 not / by 2',
 '12 / by 2',
 '13 not / by 2',
 '14 / by 2']

In [117]:
1 in li

True

In [118]:
'1' in li

False

In [119]:
1 not in li

False

In [9]:
# Repetitions

arr = ['a','b',1]
print(arr*2)                   # Slicing and Repititon don't alter the original list. See:-
print(arr)

['a', 'b', 1, 'a', 'b', 1]
['a', 'b', 1]

In [121]:
add = ['a','b','c']
add + add

['a', 'b', 'c', 'a', 'b', 'c']

### Tuple

Tuples are immutable collection of objects.
Someways similar to list in means of indexing, slicicing, nested objects

In [3]:
tup = "Alice","Bob"      # Enclosing without delimiter
tup[0:2]

('Alice', 'Bob')

In [4]:
id(tup)

944814567752

In [5]:
tup = tup + ("Johnny","Lever")  # By this way we are assigning a newly created tuple object
                                # There is no change in the earlier tuple. But its reference
                                # tup is now pointing to newly created tuple 
                                # (Hence immutability is maintained)

In [6]:
tup

('Alice', 'Bob', 'Johnny', 'Lever')

In [7]:
id(tup)

944832015080

In [8]:
tup = tup*2
tup

('Alice', 'Bob', 'Johnny', 'Lever', 'Alice', 'Bob', 'Johnny', 'Lever')

In [9]:
# del tup
# print(tup)
# ---------------------------------------------------------------------------
# NameError                                 Traceback (most recent call last)
# <ipython-input-60-bcdbccb5f0f8> in <module>
#       1 del tup
# ----> 2 print(tup)

# NameError: name 'tup' is not defined

Converting list and string into a tuple

In [10]:
list1 = [1,2,3,4]
str1 = "shanu"
tup_list = tuple(list1)
tup_str = tuple(str1)
print(tup_list)
print(tup_str)

(1, 2, 3, 4)
('s', 'h', 'a', 'n', 'u')

In [11]:
print(max(tup_list))
print(min(tup_str))
# max  and  min are based in ASCII values

4
a

In [12]:
print('We are now prevented from _xsrf missing argument POST')

We are now prevented from _xsrf missing argument POST

In [14]:
# Methods

tup.index('Alice')

0

In [16]:
name = 'Shanu'
li = [1,2,3,4,5]
tuple(name)
tuple(li)

(1, 2, 3, 4, 5)

#### Dictionary
Unordered collection of Data Values

###### key can be any Immutable data type (i.e String , Integer , Tuple)
###### value can be any of the Data-Type and could be function call also (but not def)
    Key must be unique but value can be duplicate
    Nested dictionary also possible

In [18]:
d = {
    'name':'Sidhant',
    'rollno':'11162509',
    'branch':'cse'
}

In [19]:
print(d)

{'name': 'Sidhant', 'rollno': '11162509', 'branch': 'cse'}

In [20]:
d = {
    1:'One',
    2:'Two',
    3:'Three'
}
d[1]      # Accessing by specifying key

'One'

In [22]:
d[1] = 'ONE'     # Updating by simply assgining
d

{1: 'ONE', 2: 'Two', 3: 'Three'}

In [23]:
del d[1]           # Deletion of item having key 1
d

{2: 'Two', 3: 'Three'}

In [25]:
for i in d:
    print(i)
    # Will iterate only for keys

2
3

In [26]:
for i in d.values():
    print(i)

Two
Three

In [27]:
for i in d.keys():
    print(i)

2
3

In [28]:
for k,v in d.items():
    print(k,': ',v)

2 :  Two
3 :  Three

###### Functions on Dictionary


##### Note: dict is a keyword data-type in python. Don't name any dictionary as dict
##### Note: Here item is meant by Key : Value both

In [34]:
# 1. len(dict)
# 2. del dict     Deletes whole Dictionary
# 3. max(dict)    Returns the key with max value
# 4. min(dict)
# 5. str(dict)    Returns string representation of dictionary
# 6. type(dict)
# 7. cmp(d1,d2)

In [32]:
len(d)

2

##### Methods of dictionary

In [37]:
# 1. d.copy()  Returns a shallow copy of the dictionary

# 2. d.get(KEY)  Returns the value of item having key = KEY

                # Advantage of get method: will not cause any error if specified key not present. unlike dict['key']

# 3. d.pop(KEY)  Deletes the item having key = KEY

# 4. d.popitem()  Deletes the last inserted item in dictionary

# 5. d.clear()    Clears the whole dictionary (only empties the dictionary but does'nt delete the object)

# 6. d.items()   Returns the whole list of (key1 , value), (key2,value) (key3,value) as tuples

# 7. d.values()   Retruns an iterable containing all the values present in dict

# 8. d.keys()     Returns an iterable containing all the keys

# 9. d.update(d1)  Updates / Adds the items of d1 dictionary into d

# 10. dict.fromkeys([k1,k2,k3] , v-all)  Generates a dictionary having keys = [k1,k2,k3] & each having value = v-all

##### Dictionary Comprehenesion

In [ ]:
# {key:value for (key,value) in zip(list1,list2) }

In [42]:
# zip (list1,list2)
                    # To map the similar index of two containers (returns a single ITERABLE object)
a = [1,2,3,4]
b = ['one','two','three','four']

c = zip(a,b)
for (k,v) in c:
    print(k,': ',v)

1 :  one
2 :  two
3 :  three
4 :  four

In [44]:
comp = {key:val for (key,val) in zip(a,b)}
comp

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [50]:
# or use
comp = {x:x**2 for x in range(10)}
comp

# Here both key,value are related to only variable x

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [51]:
comp = {x:x**2 for x in range(10) if x%2==0}
comp

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

### Date and Time

In [52]:
import time

print(time.time())      # It returns the ticks since Jan 1, 1970

1556694354.5965214

##### Time Tuple

<img src = "Time-tuple.jpg">

In [59]:
# Getting current time
t = time.localtime()      # to get all the time-tuple of present time 
print(t.tm_year,t.tm_mon,t.tm_mday,sep = ', ')
print()

2019, 5, 1

In [61]:
# Getting User Readable Time
t = time.asctime(time.localtime())
t

'Wed May  1 12:55:45 2019'

In [ ]:
# Methods of time module

# time.asctime(tuple_time)   returns a HUMAN READABLE time

# time.mktime(tuple_time)    Returns the tick ecpochs of the time-tuple passed

In [67]:
# Calendar Module

import calendar

cal = calendar.month(2019,4)
print(cal)

     April 2019
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [70]:
# Methods

# calendar.calendar(year)      Returns the whole calendar of the specified year

# calendar.isleap(year)

# calendar.month(year,month)    Returns the calendar view of month sepcified

# calendar.weekday(year,month,day)    Returns the day at the specidied date       (0,1,2.... 0~Monday)

calendar.weekday(2019,5,1)

2

##### Module and Functions

In [71]:
# A namespace is a dictionary of variable names (keys) and their corresponding objects (values)

# Each function has its own local namespace

In [72]:
#     If locals() is called from within a function, it will return all the names that can be accessed locally from 
#     that function.

#     If globals() is called from within a function, it will return all the names that can be accessed globally from 
#     that function.

In [ ]:
# Package is a folder containing one __init__.py file in which all the module files inside that folder are imported.

# So if we import a package like (Phone) having two files inside it (One.py , Two.py) and one file (__ini__.py).
# Can access all the mehtods of one.py and two.py

# init.py contains:
# from one.py import *
# from two.py import *            # imports all the methods present in two.py

# hence usage:

# import phone
# phone.one_method()
# phone.two_method()

In [ ]:
# Functions:

# All arguments are passed by reference in functions

# Four types of Arguments:

# 1.  Required args           (simple)                 
# 2.  Keyword args             (specify values for args)
# 3.  Default                (default value already pressent in function defination)
# 4.  Variable-length            (*args (tuple))

In [73]:
# Required args

# (simple args if not passed then give error)

In [77]:
# Keyword args

def func(num,mul):                     
    print(num*mul)

func(mul = 2 , num = 10)          # sp

20

In [78]:
# Default args

def func(msg = 'Default'):
    print(msg)
    
func()
func('Passed')                    # Works for both bcz of default

Default
Passed

In [82]:
# Variable args

def func(msg, *sender):
    print('Message is :',msg ,end=' ')
    
    print('senders:',end=' ')
    for i in sender:
        print(i ,end=' ')
    print()

func('Hello')
func('Hii','Alice','Bob','Can')
func('Hola','Shanu')                   # Args can be 0,1 or more and treated as tuple inside function

Message is : Hello senders:
Message is : Hii senders: Alice Bob Can
Message is : Hola senders: Shanu

##### LAmbda Functions

In [83]:
# Anonymous functions
# using lambda keyword

fun = lambda arg1,arg2 : arg1 + arg2

print(fun('We','They'))

WeThey

## OOP

In [94]:
class Bike:
    
    # class attrib
    wheels = 'two'                                # This is CLASS ATTRIB
    
    # instance method
    def __init__ (self,name,price):               # When want to define attrib of instances specify in constructor 
        self.name = name                          # name , price are INSTANCE ATTRIB
        self.price = price
        
    def run(self,speed):
        pass

b1 = Bike('R15',100000)
b2 = Bike('FZS',115000)


b1.wheels = 3                            # NOTE: Here wheels is not meant by var of class it is ATTRIB OF INSTANCE b1 

                                        # b1.wheels = 3 ------ means making a new attribute wheels and then assigning it
                                        # value = 3
print(b1.wheels)
print(b2.wheels)        # Here b2 has no attrib wheels so it would return the attrib of class (which is two) 

b1.name = 'Yamaha'
b1.name

Bike.__dict__

3
two

mappingproxy({'__module__': '__main__',
              'wheels': 'two',
              '__init__': <function __main__.Bike.__init__(self, name, price)>,
              'run': <function __main__.Bike.run(self, speed)>,
              '__dict__': <attribute '__dict__' of 'Bike' objects>,
              '__weakref__': <attribute '__weakref__' of 'Bike' objects>,
              '__doc__': None})

In [93]:
class Student:  
    count = 0  
    def __init__(self):  
        Student.count = Student.count + 1  
s1=Student()  
s2=Student()  
s3=Student() 
s1.name = 'shanu'
s2.rollno = 11162509
s3.branch = 'cse'
print("The number of students:",Student.count)
print(s1.__dict__)
print(s2.__dict__)

The number of students: 3
{'name': 'shanu'}
{'rollno': 11162509}

In [97]:
import threading
import time

exitFlag = 0

class myThread (threading.Thread):
   def __init__(self, threadID, name, counter):
      threading.Thread.__init__(self)
      self.threadID = threadID
      self.name = name
      self.counter = counter
   def run(self):
      print ("Starting " + self.name)
      print_time(self.name, self.counter, 5)
      print ("Exiting " + self.name)

def print_time(threadName, delay, counter):
   while counter:
      if exitFlag:
         threadName.exit()
      time.sleep(delay)
      print ("%s: %s" % (threadName, time.ctime(time.time())))
      counter -= 1

# Create new threads
thread1 = myThread(1, "Thread-1", 1)
thread2 = myThread(2, "Thread-2", 2)

# Start new Threads
thread1.start()
thread2.start()
thread1.join()
thread2.join()
print ("Exiting Main Thread")

Starting Thread-1
Starting Thread-2
Thread-1: Wed May  1 21:43:23 2019
Thread-2: Wed May  1 21:43:24 2019Thread-1: Wed May  1 21:43:24 2019

Thread-1: Wed May  1 21:43:25 2019
Thread-2: Wed May  1 21:43:26 2019
Thread-1: Wed May  1 21:43:26 2019
Thread-1: Wed May  1 21:43:27 2019
Exiting Thread-1
Thread-2: Wed May  1 21:43:28 2019
Thread-2: Wed May  1 21:43:30 2019
Thread-2: Wed May  1 21:43:32 2019
Exiting Thread-2
Exiting Main Thread