# Testing

In [5]:
d = {
    2:'value',
    1:'value',
    5:'value',
    3:'value'
}

In [6]:
d

{2: 'value', 1: 'value', 5: 'value', 3: 'value'}

In [7]:
max(d)

5

In [8]:
str(d)

"{2: 'value', 1: 'value', 5: 'value', 3: 'value'}"

In [9]:
type(d)

dict

In [11]:
print(d.pop(5))
print(d)

value
{2: 'value', 1: 'value', 3: 'value'}

In [12]:
d.popitem()
d

{2: 'value', 1: 'value'}

In [14]:
d2 = {
    3:'Three',
    4:'Four'
}

In [17]:
d.update(d2)
d

{2: 'value', 1: 'value', 3: 'Three', 4: 'Four'}

In [21]:
new_d = dict.fromkeys([1,2,3,4],'value-for-all')
new_d

{1: 'value-for-all',
 2: 'value-for-all',
 3: 'value-for-all',
 4: 'value-for-all'}

In [23]:
new_d.get(5)

In [24]:
new_d.get(4)

'value-for-all'

###### List Comprehension

In [28]:
x = [i for i in range(10) if i%2==0]
x

[0, 2, 4, 6, 8]

In [30]:
x = ["Divisible" for i in range(10) if i%2==0]
x

['Divisible', 'Divisible', 'Divisible', 'Divisible', 'Divisible']

In [32]:
y = ['not' if val%2!=0 else 'yes' for val in range(10)]
y

['yes', 'not', 'yes', 'not', 'yes', 'not', 'yes', 'not', 'yes', 'not']

###### Dictionary Comprehension

###### Another Comprehension

In [34]:
import calendar

print(calendar.calendar(2019))

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [36]:
from datetime import date
date.today()

datetime.date(2019, 5, 1)

In [37]:
for_lam = 20

ret = lambda num1,num2: num1+for_lam+num2

print(ret(1,2))

23

#### Over-riding

In [38]:
class Parrot:

    def fly(self):
        print("Parrot can fly")
    
    def swim(self):
        print("Parrot can't swim")

class Penguin:

    def fly(self):
        print("Penguin can't fly")
    
    def swim(self):
        print("Penguin can swim")

# common interface
def flying_test(bird):
    bird.fly()

#instantiate objects
blu = Parrot()
peggy = Penguin()

# passing the object
flying_test(blu)
flying_test(peggy)

Parrot can fly
Penguin can't fly

In [39]:

import re

string = 'Twelve:12 Eighty nine:89.'
pattern = '\d+'

result = re.split(pattern, string) 
print(result)

['Twelve:', ' Eighty nine:', '.']

In [40]:
result = re.sub(r'9.$','$',string)

In [41]:
result

'Twelve:12 Eighty nine:8$'